<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    {% include mathjax.html %}

{% seo %}
    {% include head-custom.html %}
  </head>

  <body style="font-family: Roboto">

    <div id="header_wrap" class="outer">
        <header class="inner" style="padding-top: 20px !important; padding-bottom: 10px !important;">
          <h1><font color="white">{{ page.title }}</font></h1>
          <nav style="margin-bottom: 0 !important; padding-bottom: 0 !important;">
            <div style="margin-bottom: 5px;">
              <a href="/" style="color:white;">Clement Yung</a> | <a href="/resources">Resources</a> | <a href="/research-talks">Research/Talks</a> | <a href="/teaching">Teaching</a> | <a href="/jech-solutions">Jech Solutions</a> | <a href="/files/Curriculum_Vitae.pdf">CV</a>
            </div>
            
            <div style="display: flex; flex-wrap: wrap; align-items: center; gap: 8px; justify-content: center; font-size: 0.95em; line-height: 1.4;">
              <span style="color: gray;">Profiles</span>
              <span style="color: gray;">|</span>
              <a href="https://math.stackexchange.com/users/620517" style="text-decoration: none; white-space: nowrap;"><img src="/files/Icon_MSE.png" alt="Math Stackexchange" style="height: 1em; vertical-align: middle; border: none; outline: none; box-shadow: none;"> Math Stackexchange</a>
              <span style="color: gray;">|</span>
              <a href="https://mathoverflow.net/users/146831" style="text-decoration: none; white-space: nowrap;"><img src="/files/Icon_MO.png" alt="MathOverflow" style="style; height: 1em; vertical-align: middle; border: none; outline: none; box-shadow: none;"> MathOverflow</a>
              <span style="color: gray;">|</span>
              <a href="https://scholar.google.com/citations?user=aY61ag0AAAAJ" style="text-decoration: none; white-space: nowrap;"><img src="/files/Icon_GS.png" alt="Google Scholar" style="height: 1em; vertical-align: middle; border: none; outline: none; box-shadow: none;"> Google Scholar</a>
              <span style="color: gray;">|</span>
              <a href="https://linkedin.com/in/clement-yung-255339145" style="text-decoration: none; white-space: nowrap;"><img src="/files/Icon_LI.png" alt="LinkedIn" style="height: 1em; vertical-align: middle; border: none; outline: none; box-shadow: none;"> LinkedIn</a>
            </div>
          </nav>
        </header>
    </div>

    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <div id="footer_wrap" class="outer">
      <footer class="inner">
        {% if site.github.is_project_page %}
        <p class="copyright">{{ site.title